<%= form_for([@patient_emergency_contact.patient, @patient_emergency_contact]) do |f| %>

   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6">

            <div class="form-group row">
               <%= f.label 'Name:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-4">
                  <%= f.text_field :first_name, class:"form-control form-control-sm", placeholder:'First' %>
               </div>
               <div class="col-sm-4">
                  <%= f.text_field :last_name, class:"form-control form-control-sm", placeholder:'Last' %>
               </div>
            </div>

            <div class="form-group row">
               <%= f.label 'Contact Type:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-8">
                  <%= f.select :contact_type,['PCP', 'Emergency Contact', 'Guardian', 'Responsible Party for Billing'],{ include_blank: true }, class:'form-control form-control-sm'  %>
               </div>
            </div>

            <div class="form-group row">
               <%= f.label 'Relationship:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-8">
                  <%= f.select :relationship,['Parent', 'Sibling', 'Guardian', 'Friend'],{ include_blank: true }, class:'form-control form-control-sm'  %>
               </div>
            </div>

            <div class="form-group row">
               <%= f.label 'Release of Information:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-8">
                  <%= f.date_field :release_of_info, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row">
               <%= f.label 'Date of Birth:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-8">
                  <%= f.date_field :dob, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row">
               <%= f.label 'Address 1:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-8">
                  <%= f.text_field :address_1, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row">
               <%= f.label 'Address 2:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-8">
                  <%= f.text_field :address_2, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row">
               <%= f.label 'Country:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-8">
                  <%= f.text_field :country, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row">
               <%= f.label 'City:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-8">
                  <%= f.text_field :city, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row">
               <%= f.label 'State/Zip:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-6">
                  <%= f.text_field :state, class:"form-control form-control-sm" %>
               </div>
               <div class="col-sm-2">
                  <%= f.text_field :zipcode, class:"form-control form-control-sm" %>
               </div>
            </div>

         </div>

         <div class="col-md-6">

            <div class="form-group row">
               <%= f.label 'Email Address:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-8">
                  <%= f.text_field :email, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row">
               <%= f.label 'Mobile Phone:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-8">
                  <%= f.text_field :mobile_phone, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row">
               <%= f.label 'Home Phone:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-8">
                  <%= f.text_field :home_phone, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row">
               <%= f.label 'Work Phone:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-8">
                  <%= f.text_field :work_phone, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row">
               <%= f.label 'Other Phone:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-8">
                  <%= f.text_field :other_phone, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row">
               <%= f.label 'Comments:', class:"col-sm-4 col-form-label col-form-label-sm"  %>
               <div class="col-sm-8">
                  <%= f.text_area :comment, class:"form-control form-control-sm" %>
               </div>
            </div>

         </div>

      </div>

      <br>

      <div class="row">
         <div class="col-md-6">
            <div class="actions">
               <%= f.submit class:'btn btn-primary'%>
            </div>
         </div>
      </div>

   </div>

<% end %>
