<%= form_for([@patient_emergency_contact.patient, @patient_emergency_contact]) do |f| %>

   <div class="row">
      <div class="col-md-6">
         <div class="field">
           <%= f.label :first_name %>
           <%= f.text_field :first_name %>
         </div>

         <div class="field">
           <%= f.label :last_name %>
           <%= f.text_field :last_name %>
         </div>

         <div class="field">
           <%= f.label :contact_type %>
           <%= f.text_field :contact_type %>
         </div>

         <div class="field">
           <%= f.label :relationship %>
           <%= f.text_field :relationship %>
         </div>

         <div class="field">
           <%= f.label :release_of_info %>
           <%= f.date_select :release_of_info %>
         </div>

         <div class="field">
           <%= f.label :dob %>
           <%= f.date_select :dob %>
         </div>

         <div class="field">
           <%= f.label :address_1 %>
           <%= f.text_field :address_1 %>
         </div>

         <div class="field">
           <%= f.label :address_2 %>
           <%= f.text_field :address_2 %>
         </div>

         <div class="field">
           <%= f.label :country %>
           <%= f.text_field :country %>
         </div>

         <div class="field">
           <%= f.label :zipcode %>
           <%= f.text_field :zipcode %>
         </div>

         <div class="field">
           <%= f.label :city %>
           <%= f.text_field :city %>
         </div>

         <div class="field">
           <%= f.label :state %>
           <%= f.text_field :state %>
         </div>
      </div>
      <div class="col-md-6">
         <div class="field">
           <%= f.label :email %>
           <%= f.text_field :email %>
         </div>

         <div class="field">
           <%= f.label :mobile_phone %>
           <%= f.text_field :mobile_phone %>
         </div>

         <div class="field">
           <%= f.label :work_phone %>
           <%= f.text_field :work_phone %>
         </div>

         <div class="field">
           <%= f.label :home_phone %>
           <%= f.text_field :home_phone %>
         </div>

         <div class="field">
           <%= f.label :other_phone %>
           <%= f.text_field :other_phone %>
         </div>

         <div class="field">
           <%= f.label :comment %>
           <%= f.text_area :comment %>
         </div>
      </div>
   </div>

   <div class="actions">
      <%= f.submit %>
   </div>

<% end %>
