<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @patient_emergency_contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient_emergency_contact.last_name %>
</p>

<p>
  <strong>Contact type:</strong>
  <%= @patient_emergency_contact.contact_type %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @patient_emergency_contact.relationship %>
</p>

<p>
  <strong>Release of info:</strong>
  <%= @patient_emergency_contact.release_of_info %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient_emergency_contact.dob %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @patient_emergency_contact.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @patient_emergency_contact.address_2 %>
</p>

<p>
  <strong>Country:</strong>
  <%= @patient_emergency_contact.country %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @patient_emergency_contact.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient_emergency_contact.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @patient_emergency_contact.state %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient_emergency_contact.email %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @patient_emergency_contact.mobile_phone %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @patient_emergency_contact.work_phone %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @patient_emergency_contact.home_phone %>
</p>

<p>
  <strong>Other phone:</strong>
  <%= @patient_emergency_contact.other_phone %>
</p>

<p>
  <strong>Commet:</strong>
  <%= @patient_emergency_contact.commet %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @patient_emergency_contact.patient %>
</p>

<%= link_to 'Edit', edit_patient_emergency_contact_path(@patient_emergency_contact) %> |
<%= link_to 'Back', patient_emergency_contacts_path %>
