<%= form_for([@progress_note.patient, @progress_note]) do |f| %>

   <div class="row">
      <div class="col-md-6">

         <div class="form-group row mb-1">
            <%= f.label 'Clinician:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select 'user_id', @users.collect{|p| [p.first_name, p.id]}, { include_blank: true }, class:'form-control form-control-sm' %>
            </div>
         </div>

         <div class="form-group row mb-1">
            <%= f.label 'Patient:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <input type="text" name="" value="<%= @progress_note.patient.first_name%> <%= @progress_note.patient.last_name %>" class="form-control form-control-sm">
            </div>
         </div>

         <div class="form-group row mb-1">
            <%= f.label 'Date:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.date_field :date, class:"form-control form-control-sm" %>
            </div>
         </div>

         <div class="form-group row mb-1">
            <%= f.label 'Time:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.time_field :time, class:"form-control form-control-sm" %>
            </div>
         </div>

      </div>

      <div class="col-md-6">

         <div class="form-group row mb-1">
            <%= f.label 'Duration:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <div class="input-group input-group-sm">
                  <%= f.select :duration,['30', '35', '40', '45', '50', '55', '60'],{ include_blank: true }, class:'form-control form-control-sm'  %>
                  <div class="input-group-append">
                     <span class="input-group-text">minutes</span>
                  </div>
               </div>
            </div>
         </div>

         <div class="form-group row mb-1">
            <%= f.label 'Location:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :location, @location.collect{|l| [l, l]}, { include_blank: true }, class:'form-control form-control-sm' %>
            </div>
         </div>

         <div class="form-group row mb-1">
            <%= f.label 'Participants:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :participants, @participants.collect{|l| [l, l]}, { include_blank: true }, class:'form-control form-control-sm' %>
            </div>
         </div>

      </div>
   </div>

   <hr>

   <h5>Diagnosis:</h5>
   <div class="row">
      <div class="col-md-12">

         <div class="form-group">
            <%= f.text_field :diagnosis_description, class:'form-control form-control-sm', placeholder:'Description' %>
         </div>

         <div class="form-group mb-0">
            <%= f.text_area :diagnostic_justification, class:'form-control form-control-sm', rows:'1', placeholder:'Diagnostic justfication and/or assessment measures'  %>
         </div>

      </div>
   </div>

   <hr>

   <h5>Patient Presentation:</h5>
   <div class="row">

      <div class="col-md-6">

         <div class="form-group row mb-1">
            <%= f.label 'Cognitive Functioning:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :cognitive_functioning,['Oriented/Alert','Disorganized','Tangential','Preoccupied','Circumstantial','Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-1">
            <%= f.label 'Affect:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :affect,['Appropriate','Inappropriate','Labile','Constricted','Blunted','Flat','Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-1">
            <%= f.label 'Mood:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :mood,['Euthymic','Depressed','Dysphoric','Anxious','Angry','Irritable','Euphoric','Grandiose','Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

      </div>

      <div class="col-md-6">

         <div class="form-group row mb-1">
            <%= f.label 'Interpersonal:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :interpersonal,['Interactive','Intermittenly Interactive','Guarded','Withdrawn','Hostile','Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-1">
            <%= f.label 'Functional Status:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :functional_status,['Intact','Impaired','Variably Impaired','Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

      </div>
   </div>

   <hr>

   <div class="row">
      <div class="col-md-6">
         <div class="form-group row mb-0">
            <%= f.label 'Safety Issues:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.text_field :safety_issues, class:"form-control form-control-sm", list:'safety_issues', autocomplete: 'off' %>
               <datalist id="safety_issues">
                  <option value="None">
                  <option value="Suicidal Ideation">
                  <option value="Hommicidal Ideation">
                  <option value="Other: ">
               </datalist>
            </div>
         </div>
      </div>
   </div>

   <hr>

   <div class="row">
      <div class="col-md-12">
         <h5>Medications:</h5>
         <div class="form-group">
            <%= f.text_area :medications, class:'form-control form-control-sm', rows:'2' %>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <h5>Symptom Description and Subjective Report:</h5>
         <div class="form-group">
            <%= f.text_area :symptoms_description, class:'form-control form-control-sm', rows:'3' %>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <h5>Relevant Content:</h5>
         <div class="form-group">
            <%= f.text_area :relevant_content, class:'form-control form-control-sm', rows:'3', placeholder:'Objective information discussed during the session.' %>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <h5>Interventions Used:</h5>
         <div class="row">
            <% @interventions_used.each do |i| %>
               <div class="col-md-4">
                  <div class="form-check">
                     <%= f.check_box( :interventions_used, { multiple: true, class:"form-check-input" }, i, false ) %>
                     <%= f.label i, class:"form-check-label"  %>
                  </div>
               </div>
            <% end %>
         </div>
      </div>

   </div>



   <hr>

   <h5>Treatment Plan Progress:</h5>

   <div class="row">
      <div class="col-md-12">
         <div class="form-group row background-information mb-0">
            <%= f.label 'Progress:', class:"col-sm-2 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-10">
               <%= f.text_area :treatment_plan_progress, class:'form-control form-control-sm intake-form', rows:'1' %>
            </div>
         </div>
      </div>
   </div>

   <br>

   <div class="row">
      <div class="col-md-12">
         <h6>Additional Notes Regarding Goals and Objectives:</h6>
         <div class="form-group">
            <%= f.text_area :additional_notes, class:'form-control form-control-sm', rows:'2' %>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <h6>Plan:</h6>
         <div class="form-group">
            <%= f.text_area :plan, class:'form-control form-control-sm', rows:'2' %>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-5">

         <div class="form-group row">
            <%= f.label 'Recommendation:', class:"col-sm-5 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-7">
               <%= f.select :recommendation,['Continue current therapeutic focus','Change treatment goasl or objectives','Terminate treatment'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>
      </div>

      <div class="col-md-7">

         <div class="form-group row">
            <%= f.label 'Prescribed Frequency of Treatment:', class:"col-sm-6 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-6">
               <%= f.select :treatment_frequency,['As Needed','Twice a Week','Weekly','Every 2 Weeks','Every Month','Every 2 months','Every 3 months','Every 4 months'],{ include_blank: true }, class:'form-control form-control-sm'  %>

            </div>
         </div>
      </div>

   </div>

   <div class="row px-3 mt-4">
      <div class="col-md-12 border bg-light bg-light p-2">
         <div class="form-check">
            <%= f.check_box :clinician_signature, class:'form-check-input' %>
            <label class="form-check-label"> Sign this Form: I, <%= current_user.first_name %> <%= current_user.last_name %>, Clinical Psychologist, declare this information to be accurate and complete.</label>
         </div>
      </div>
   </div>

   <br>

   <div class="actions">
      <% if @progress_note.new_record? %>
         <%= f.submit 'Create', class:'btn btn-info'%>
      <% else %>
         <%= f.submit 'Update', class:'btn btn-info'%>
      <% end %>
   </div>

<% end %>
