<%= form_for([@progress_note.patient, @progress_note]) do |f| %>

   <div class="row">
      <div class="col-md-6">

         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Clinician:</span>
            </div>
            <%= f.select :user_id, @users.collect{|p| [p.first_name, p.id]}, { include_blank: true }, class:'form-control' %>
         </div>

         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Patient:</span>
            </div>
            <input type="text" name="" value="<%= @progress_note.patient.first_name%> <%= @progress_note.patient.last_name %>" class="form-control">
         </div>

         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Date:</span>
            </div>
             <%= f.date_field( :date, class:"form-control") %>
         </div>

         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Time:</span>
            </div>
            <%= f.time_field :time, class:'form-control' %>
         </div>

      </div>
      <div class="col-md-6">

         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Duration:</span>
            </div>
            <%= f.text_field :duration, class:'form-control' %>
            <div class="input-group-append">
               <span class="input-group-text">minutes</span>
            </div>
         </div>

         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Location:</span>
            </div>
            <%= f.select :location, @location.collect{|l| [l, l]}, { include_blank: true }, class:'form-control' %>
         </div>


         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Participants:</span>
            </div>
            <%= f.select :participants, @participants.collect{|p| [p, p]}, { include_blank: true }, class:'form-control' %>
         </div>
      </div>
   </div>

   <hr>

   <h5>Diagnosis:</h5>
   <div class="row">
      <div class="col-md-12">

         <div class="form-group">
            <%= f.text_field :diagnosis_description, class:'form-control', placeholder:'Description' %>
         </div>

         <div class="form-group">
            <%= f.text_area :diagnostic_justification, class:'form-control', rows:'2', placeholder:'Diagnostic justfication and/or assessment measures'  %>
         </div>

      </div>
   </div>

   <h5>Patient Presentation:</h5>
   <div class="row">

      <div class="col-md-6">
         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Cognitive Functioning:</span>
            </div>
            <%= f.text_field :cognitive_functioning, class:'form-control', list:'options' %>
         </div>

         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Affect:</span>
            </div>
            <%= f.text_field :affect, class:'form-control', list:'options' %>
         </div>

         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Mood:</span>
            </div>
            <%= f.text_field :mood, class:'form-control', list:'options' %>
         </div>

      </div>

      <div class="col-md-6">
         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Interpersonal:</span>
            </div>
            <%= f.text_field :interpersonal, class:'form-control', list:'options' %>
         </div>

         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Functional Status:</span>
            </div>
            <%= f.text_field :functional_status, class:'form-control', list:'options' %>
         </div>

      </div>
   </div>

   <h5>Safety Issues</h5>
   <div class="row">
      <div class="col-md-6">

         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Saftey Issues:</span>
            </div>
            <%= f.text_field :safety_issues, list:'safety_issues', class:'form-control' %>
            <datalist id="safety_issues">
               <option value="None">
               <option value="Suicidal Ideation">
               <option value="Hommicidal Ideation">
            </datalist>
         </div>

      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <h5>Medications:</h5>
         <div class="form-group">
            <%= f.text_area :medications, class:'form-control', rows:'2' %>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <h5>Symptom Description and Subjective Report:</h5>
         <div class="form-group">
            <%= f.text_area :symptoms_description, class:'form-control', rows:'3' %>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <h5>Relevant Content:</h5>
         <div class="form-group">
            <%= f.text_area :relevant_content, class:'form-control', rows:'3', placeholder:'Objective information discussed during the session.' %>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Interventions Used:</span>
            </div>
            <%= f.text_field :interventions_used, class:'form-control', list:'options' %>
            <datalist id="options">
               <option value="Appropiate">
               <option value="Eccentric">
            </datalist>
         </div>
      </div>
   </div>
   <hr>
   <h5>Treatment Plam Progress:</h5>
   <h6>No objectives specified. If you first specify objectives in a treatment plan for this patient, you can describe the progress on each objective here.</h6>
   <br>
   <div class="row">
      <div class="col-md-12">
         <h6>Additional Notes Regarding Goals and Objectives:</h6>
         <div class="form-group">
            <%= f.text_area :additional_notes, class:'form-control', rows:'2' %>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <h6>Plan:</h6>
         <div class="form-group">
            <%= f.text_area :plan, class:'form-control', rows:'2' %>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-6">
         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Recommendation:</span>
            </div>
            <%= f.text_field :recommendation, class:'form-control', list:'options1' %>
            <datalist id="options1">
               <option value="Continue">
               <option value="Change">
            </datalist>
         </div>
      </div>

      <div class="col-md-6">
         <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
               <span class="input-group-text">Prescribed Frequency of Treatment:</span>
            </div>
            <%= f.text_field :treatment_frequency, class:'form-control', list:'options2' %>
            <datalist id="options2">
               <option value="Weekly">
               <option value="Monthly">
            </datalist>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <div class="form-group">
            <%= f.check_box :clinician_signature %>
            <label for="intake_note[clinician_signature]">Sign this Form: I, <%= current_user.first_name %> <%= current_user.last_name %>, Clinical Psychologist, declare this information to be accurate and complete.</label>
         </div>
      </div>
   </div>

   <div class="actions">
     <%= f.submit 'Create', class:'btn btn-success' %>
   </div>






   <!-- <div class="field">
      <%= f.label('Clinician') %>
      <%= f.select('user_id', @users.collect{|p| [p.first_name, p.id]}, { include_blank: true }) %>
   </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.time_select :time %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :participants %>
    <%= f.text_field :participants %>
  </div>

  <div class="field">
    <%= f.label :diagnosis_description %>
    <%= f.text_area :diagnosis_description %>
  </div>

  <div class="field">
    <%= f.label :diagnostic_justification %>
    <%= f.text_area :diagnostic_justification %>
  </div>

  <div class="field">
    <%= f.label :cognitive_functioning %>
    <%= f.text_field :cognitive_functioning %>
  </div>

  <div class="field">
    <%= f.label :affect %>
    <%= f.text_field :affect %>
  </div>

  <div class="field">
    <%= f.label :mood %>
    <%= f.text_field :mood %>
  </div>

  <div class="field">
    <%= f.label :interpersonal %>
    <%= f.text_field :interpersonal %>
  </div>

  <div class="field">
    <%= f.label :functional_status %>
    <%= f.text_field :functional_status %>
  </div>

  <div class="field">
    <%= f.label :safety_issues %>
    <%= f.text_field :safety_issues %>
  </div>

  <div class="field">
    <%= f.label :medications %>
    <%= f.text_field :medications %>
  </div>

  <div class="field">
    <%= f.label :symptoms_description %>
    <%= f.text_area :symptoms_description %>
  </div>

  <div class="field">
    <%= f.label :relevant_content %>
    <%= f.text_area :relevant_content %>
  </div>

  <div class="field">
    <%= f.label :interventions_used %>
    <%= f.text_field :interventions_used %>
  </div>

  <div class="field">
    <%= f.label :additional_notes %>
    <%= f.text_area :additional_notes %>
  </div>

  <div class="field">
    <%= f.label :plan %>
    <%= f.text_area :plan %>
  </div>

  <div class="field">
    <%= f.label :recommendation %>
    <%= f.text_field :recommendation %>
  </div>

  <div class="field">
    <%= f.label :treatment_frequency %>
    <%= f.text_field :treatment_frequency %>
  </div>

  <div class="field">
    <%= f.label :clinician_signature %>
    <%= f.check_box :clinician_signature %>
  </div> -->


<% end %>
