<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @progress_note.user %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @progress_note.patient %>
</p>

<p>
  <strong>Date:</strong>
  <%= @progress_note.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @progress_note.time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @progress_note.duration %>
</p>

<p>
  <strong>Location:</strong>
  <%= @progress_note.location %>
</p>

<p>
  <strong>Participants:</strong>
  <%= @progress_note.participants %>
</p>

<p>
  <strong>Diagnosis description:</strong>
  <%= @progress_note.diagnosis_description %>
</p>

<p>
  <strong>Diagnostic justification:</strong>
  <%= @progress_note.diagnostic_justification %>
</p>

<p>
  <strong>Cognitive functioning:</strong>
  <%= @progress_note.cognitive_functioning %>
</p>

<p>
  <strong>Affect:</strong>
  <%= @progress_note.affect %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @progress_note.mood %>
</p>

<p>
  <strong>Interpersonal:</strong>
  <%= @progress_note.interpersonal %>
</p>

<p>
  <strong>Functional status:</strong>
  <%= @progress_note.functional_status %>
</p>

<p>
  <strong>Safety issues:</strong>
  <%= @progress_note.safety_issues %>
</p>

<p>
  <strong>Medications:</strong>
  <%= @progress_note.medications %>
</p>

<p>
  <strong>Symptoms description:</strong>
  <%= @progress_note.symptoms_description %>
</p>

<p>
  <strong>Relevant content:</strong>
  <%= @progress_note.relevant_content %>
</p>

<p>
  <strong>Interventions used:</strong>
  <%= @progress_note.interventions_used %>
</p>

<p>
  <strong>Additional notes:</strong>
  <%= @progress_note.additional_notes %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @progress_note.plan %>
</p>

<p>
  <strong>Recommendation:</strong>
  <%= @progress_note.recommendation %>
</p>

<p>
  <strong>Treatment frequency:</strong>
  <%= @progress_note.treatment_frequency %>
</p>

<p>
  <strong>Clinician signature:</strong>
  <%= @progress_note.clinician_signature %>
</p>

<%= link_to 'Edit', edit_progress_note_path(@progress_note) %> |
<%= link_to 'Back', progress_notes_path %>
