<div class="container-fluid py-2">
   <div class="container-fluid bg-white border py-4">

      <div class="row">
         <div class="col-md-6">
            <h5>Psychotherapy Progress Note</h5>
         </div>
         <div class="col-md-6">
            <% if admin_role? || (@progress_note.clinician_signature == false)%>
               <%= link_to 'Edit', edit_patient_progress_note_path(@progress_note.patient, @progress_note), class:'float-right btn btn-outline-primary' %>
            <% end %>
         </div>
      </div>

      <hr>

      <div class="row">
         <div class="col-md-6">

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Clinician:</strong></p>
               </div>
               <div class="col-sm-8">
                  <p><%= @progress_note.user.first_name %> <%= @progress_note.user.last_name %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Patient:</strong></p>
               </div>
               <div class="col-sm-8">
                  <p><%= @progress_note.patient.first_name %> <%= @progress_note.patient.last_name %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Date:</strong></p>
               </div>
               <div class="col-sm-8">
                  <% if @progress_note.date%>
                     <p><%= @progress_note.date.strftime("%D") %></p>
                  <% end %>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Time:</strong></p>
               </div>
               <div class="col-sm-8">
                  <p><%= @progress_note.time %></p>
               </div>
            </div>

         </div>

         <div class="col-md-6">

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Duration:</strong></p>
               </div>
               <div class="col-sm-8">
                  <p><%= @progress_note.duration %> minutes</p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Location:</strong></p>
               </div>
               <div class="col-sm-8">
                  <p><%= @progress_note.location %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Participants:</strong></p>
               </div>
               <div class="col-sm-8">
                  <p><%= @progress_note.participants %></p>
               </div>
            </div>

         </div>
      </div>

      <hr>

      <h5>Diagnosis</h5>
      <div class="row">
         <div class="col-md-6">

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Description:</strong></p>
               </div>
               <div class="col-sm-8">
                  <p> <%= @progress_note.diagnosis_description %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Justification:</strong></p>
               </div>
               <div class="col-sm-8">
                  <p> <%= @progress_note.diagnostic_justification %></p>
               </div>
            </div>

         </div>
      </div>

      <hr>

      <h5>Patient Presentation</h5>
      <div class="row">
         <div class="col-md-6">
            <p>
              <strong>Cognitive functioning:</strong>
              <%= @progress_note.cognitive_functioning %>
            </p>

            <p>
              <strong>Affect:</strong>
              <%= @progress_note.affect %>
            </p>

            <p>
              <strong>Mood:</strong>
              <%= @progress_note.mood %>
            </p>

         </div>
         <div class="col-md-6">
            <p>
              <strong>Interpersonal:</strong>
              <%= @progress_note.interpersonal %>
            </p>

            <p>
              <strong>Functional status:</strong>
              <%= @progress_note.functional_status %>
            </p>
         </div>
      </div>

      <hr>

      <h5>Safety Issues</h5>
      <div class="row">
         <div class="col-md-6">
            <%= @progress_note.safety_issues %>
         </div>
      </div>

      <hr>

      <h5>Medications</h5>
      <div class="row">
         <div class="col-md-12">
            <%= @progress_note.medications %>
         </div>
      </div>

      <hr>

      <h5>Sympton Description and Subjective Report</h5>
      <div class="row">
         <div class="col-md-12">
            <%= @progress_note.symptoms_description %>
         </div>
      </div>

      <hr>

      <h5>Relevant Content</h5>
      <div class="row">
         <div class="col-md-12">
            <%= @progress_note.relevant_content %>
         </div>
      </div>

      <hr>

      <h5>Interventions Used</h5>
      <div class="row">
         <div class="col-md-12">
            <%= @progress_note.interventions_used %>
         </div>
      </div>

      <hr>

      <h3>Treatment Plan Progress</h3>
      <div class="row">
         <div class="col-md-12">
         </div>
      </div>

      <br>

      <h5>Additional Notes Regarding Goals and Objectives</h5>
      <div class="row">
         <div class="col-md-12">
            <%= @progress_note.additional_notes %>
         </div>
      </div>

      <br>

      <h5>Plan</h5>
      <div class="row">
         <div class="col-md-12">
            <%= @progress_note.plan %>
         </div>
      </div>

      <hr>

      <div class="row">
         <div class="col-sm-4">
            <p><strong>Treatent Frequency:</strong></p>
         </div>
         <div class="col-sm-8">
            <p><%= @progress_note.treatment_frequency %></p>
         </div>
      </div>

      <div class="row">
         <div class="col-sm-4">
            <p><strong>Recommendation:</strong></p>
         </div>
         <div class="col-sm-8">
            <p>  <%= @progress_note.recommendation %></p>
         </div>
      </div>

      <div class="row">
         <div class="col-md-12">
            <% if @progress_note.clinician_signature == true %>
               <p><%= @progress_note.user.first_name %> <%= @progress_note.user.last_name %>, signed this note and declared this information to be accurate and complete on <%= @progress_note.created_at.strftime('%D') %>.</p>
            <% else %>
               <p>This note requires the authors signature.</p>
            <% end %>
         </div>
      </div>



   </div>
</div>
