<%= form_for([@treatment_plan.patient, @treatment_plan]) do |f| %>

   <div class="row">
      <div class="col-md-6">

         <div class="form-group row mb-0">
            <%= f.label 'Clinician:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select 'user_id', @users.collect{|p| [p.first_name, p.id]}, { include_blank: true }, class:'form-control form-control-sm' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Patient:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <input type="text" name="" value="<%= @treatment_plan.patient.first_name%> <%= @treatment_plan.patient.last_name %>" class="form-control form-control-sm">
            </div>
         </div>

      </div>
      <div class="col-md-6">

         <div class="form-group row mb-0">
            <%= f.label 'Date:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.date_field :date, class:"form-control form-control-sm" %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Time:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.time_field :time, class:"form-control form-control-sm" %>
            </div>
         </div>

      </div>
   </div>

   <hr>

   <h5>Diagnosis:</h5>
   <div class="row">
      <div class="col-md-12">

         <div class="form-group">
            <%= f.text_field :diagnosis_description, class:'form-control form-control-sm', placeholder:'Description' %>
         </div>

         <div class="form-group">
            <%= f.text_area :diagnostic_justification, class:'form-control form-control-sm', rows:'1', placeholder:'Diagnostic justfication and/or assessment measures'  %>
         </div>

      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <h5>Presenting Problem:</h5>
         <div class="form-group">
            <%= f.text_area :presenting_problem, class:'form-control form-control-sm' %>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <h5>Treatment Goals:</h5>
         <div class="form-group">
            <%= f.text_area :treatment_goal, class:'form-control form-control-sm' %>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-6">
         <div class="form-group row">
            <%= f.label 'Estimated Completion:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :goal_estimated_completion,['1 Week','2 Weeks','3 Weeks','1 Month', '2 Months', '3 Months','4 Months','5 Months','6 Months','7 Months','8 Months','9 Months','10 Months','11 Months','12 Months'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <h5>Objective:</h5>
         <div class="form-group">
            <%= f.text_area :objective, class:'form-control form-control-sm' %>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-6">
         <div class="form-group row mb-0">
            <%= f.label 'Treatment Strategy/Interventions:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.text_field :treatment_strategy, class:'form-control form-control-sm' %>
            </div>   
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-6">
         <div class="form-group row mb-0">
            <%= f.label 'Estimated Completion:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :objective_estimated_completion,['1 Week','2 Weeks','3 Weeks','1 Month', '2 Months', '3 Months','4 Months','5 Months','6 Months','7 Months','8 Months','9 Months','10 Months','11 Months','12 Months'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>
      </div>
   </div>

   <br>

   <h5>Frequency of Treatment:</h5>

   <div class="row">
      <div class="col-md-6">
         <div class="form-group row">
            <%= f.label 'Prescribed Frequency of Treatment:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :treatment_frequency,['As Needed','Twice a Week','Weekly','Every 2 Weeks','Every Month','Every 2 months','Every 3 months','Every 4 months'],{ include_blank: true, multiple: true }, class:'chosen-select form-control form-control-sm'  %>
            </div>
         </div>
      </div>
   </div>

   <div class="row px-3">
      <div class="col-md-12 border bg-light bg-light p-2">
         <div class="form-check">
            <%= f.check_box :clinician_declaration, class:'form-check-input' %>
            <label class="form-check-label" for="intake_note[clinician_signature]">I declare that these services are medically necessary and appropriate to the recipient's diagnosis and needs.</label>
         </div>
      </div>
   </div>

   <br>

   <div class="row px-3">
      <div class="col-md-12 border bg-light bg-light p-2">
         <div class="form-check">
            <%= f.check_box :clinician_signature, class:'form-check-input' %>
            <label class="form-check-label"> Sign this Form: <strong> I, <%= current_user.first_name %> <%= current_user.last_name %>, Clinical Psychologist, declare this information to be accurate and complete.</strong></label>
         </div>
      </div>
   </div>

   <br>

   <div class="actions">
      <% if @treatment_plan.new_record? %>
         <%= f.submit 'Create', class:'btn btn-outline-primary'%>
      <% else %>
         <%= f.submit 'Update', class:'btn btn-outline-primary'%>
      <% end %>
   </div>


<% end %>
