<div class="container-fluid py-2">
   <div class="container-fluid bg-white border py-4">

      <div class="row">
         <div class="col-md-6">
            <h5>Psychotherapy Treatent Plan</h5>
         </div>
         <div class="col-md-6">
            <%= link_to 'Edit', edit_patient_treatment_plan_path(@treatment_plan.patient, @treatment_plan), class:'float-right btn btn-outline-primary' %>
         </div>
      </div>

      <hr>

      <div class="row">
         <div class="col-md-6">

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Clinician:</strong></p>
               </div>
               <div class="col-sm-8">
                  <p><%= @treatment_plan.user.first_name %> <%= @treatment_plan.user.last_name %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Patient:</strong></p>
               </div>
               <div class="col-sm-8">
                  <p><%= @treatment_plan.patient.first_name %> <%= @treatment_plan.patient.last_name %></p>
               </div>
            </div>
         </div>

         <div class="col-md-6">

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Date:</strong></p>
               </div>
               <div class="col-sm-8">
                  <% if @treatment_plan.date%>
                     <p><%= @treatment_plan.date.strftime("%D") %></p>
                  <% end %>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Time:</strong></p>
               </div>
               <div class="col-sm-8">
                  <p><%= @treatment_plan.time %></p>
               </div>
            </div>

         </div>
      </div>

      <hr>

      <h5>Diagnosis</h5>
      <div class="row">
         <div class="col-md-6">

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Description:</strong></p>
               </div>
               <div class="col-sm-8">
                  <p> <%= @treatment_plan.diagnosis_description %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p><strong>Justification:</strong></p>
               </div>
               <div class="col-sm-8">
                  <p> <%= @treatment_plan.diagnostic_justification %></p>
               </div>
            </div>

         </div>
      </div>

      <hr>

      <h5>Presenting Problem</h5>
      <div class="row">
         <div class="col-md-12">
            <p><%= @treatment_plan.presenting_problem %></p>
         </div>
      </div>

      <hr>

      <h5>Treatment Goals</h5>
      <div class="row">
         <div class="col-md-12">
            <%= @treatment_plan.treatment_goal %>
         </div>
      </div>

      <div class="row">
         <div class="col-sm-4">
            <p><strong>Estimated Completion:</strong></p>
         </div>
         <div class="col-sm-8">
            <p><%= @treatment_plan.goal_estimated_completion %></p>
         </div>
      </div>

      <hr>

      <h5>Objective</h5>
      <div class="row">
         <div class="col-md-12">
            <%= @treatment_plan.objective %>
         </div>
      </div>

      <div class="row">
         <div class="col-sm-4">
            <p><strong>Treatment Strategy:</strong></p>
         </div>
         <div class="col-sm-8">
            <p><%= @treatment_plan.treatment_strategy %></p>
         </div>
      </div>

      <div class="row">
         <div class="col-sm-4">
            <p><strong>Objective Estimated Completion:</strong></p>
         </div>
         <div class="col-sm-8">
            <p> <%= @treatment_plan.objective_estimated_completion %></p>
         </div>
      </div>

      <hr>

      <h5>Prescribed Frequency of Treatment</h5>
      <div class="row">
         <div class="col-md-12">
            <%= @treatment_plan.treatment_frequency %>
         </div>
      </div>

      <hr>

      <div class="row">
         <div class="col-md-12">
            <% if @treatment_plan.clinician_declaration == true %>
               <p>I declare that these services are medically necessary and appropriate to the recipient's diagnosis and needs.</p>
            <% end %>
         </div>
      </div>

      <div class="row">
         <div class="col-md-12">
            <% if @treatment_plan.clinician_signature == true %>
               <p><%= @treatment_plan.user.first_name %> <%= @treatment_plan.user.last_name %>, signed this note and declared this information to be accurate and complete on <%= @treatment_plan.created_at.strftime('%D') %>.</p>
            <% else %>
               <p>This note requires the authors signature.</p>
            <% end %>
         </div>
      </div>


   </div>
</div>
