<%= render "shared/navbar_signed_in"%>

<div class="container py-4">
   <div class="row">
      <div class="col-md-10 mx-auto border bg-white py-4">

         <div class="row">
            <div class="col-md-12 text-center">
               <h3>Edit User</h3>
            </div>
         </div>


         <% if flash[:errors] %>
            <% flash[:errors].each do |error| %>
               <div class="alert alert-danger alert-dismissible" role="alert" id="errors">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
                  <strong><%= error %></strong>
               </div>
            <% end %>
         <% end %>

         <br>

         <div class="row">
            <div class="col-md-12">
               <div class="container">
                  <form  action="/practice/update-user/<%= @user.id %>" method="post" >
                     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                     <input type="hidden" name="_method" value="patch">

                     <div class="form-row">
                        <div class="form-group col-md-6">
                           <label for="user[first_name]">First Name:</label>
                           <input type="text" class="form-control" name="user[first_name]" value="<%= @user.first_name %>">
                        </div>

                        <div class="form-group col-md-6">
                           <label for="user[last_name]">Last Name:</label>
                           <input type="text" name="user[last_name]" class="form-control" value="<%= @user.last_name %>">
                        </div>
                     </div>

                     <div class="form-row">
                        <div class="form-group col-md-6">
                           <label for="user[languages]">Languages:</label>
                           <input type="text" class="form-control" name="user[languages]" value="<%= @user.languages %>">
                        </div>

                        <div class="form-group col-md-6">
                           <label for="user[default_location]">Default Location:</label>
                           <select id="default_location" class="form-control" name="user[default_location]">
                              <option values='<%= @user.default_location %>'><%= @user.default_location %></option>
                              <option values='Aventura Office'>Aventura Office</option>
                              <option value='Doral Office' >Doral Office</option>
                              <option value='Plantation Office'>Plantation Office</option>
                           </select>
                        </div>
                     </div>

                     <div class="form-row">
                        <div class="form-group col-md-6">
                           <label for="user[role]">
                              Role:
                           </label>
                           <select id="user[role]" class="form-control" name="user[role]">
                              <option value='<%= @user.role %>'><%= @user.role %></option>
                              <option values='Administrator'>Administrator</option>
                              <option value='Clinician' >Clinician</option>
                           </select>
                        </div>

                        <div class="form-group col-md-6">
                           <label for="user[email]">Email:</label>
                           <input type="email" class="form-control" name="user[email]" value="<%= @user.email %>">
                        </div>
                     </div>

                     <div class="form-row">
                        <div class="form-group col-md-6">
                           <label for="user[password]">Password:</label>
                           <input type="password" class="form-control" name="user[password]" value="<%= @user.password %>">
                        </div>

                        <div class="form-group col-md-6">
                           <label for="user[password_confirmation]">Password Confirmation:</label>
                           <input type="password" name="user[password_confirmation]" class="form-control" value="<%= @user.password_confirmation %>">
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col-md-4 mx-auto">
                           <button class="btn btn-info btn-block text-uppercase" type="submit">Update</button>
                        </div>
                     </div>

                  </form>

               </div>
            </div>
         </div>
      </div>
   </div>

</div>
