<%= render "shared/navbar_signed_in"%>

<div class="container-fluid py-4">
   <div class="container-fluid mb-2">
      <div class="row">
         <div class="col-md-6">
            <h3>Staff</h3>
         </div>
         <div class="col-md-6">
            <% if admin_role? %>
               <%= link_to '<i class="far fa-plus-square"></i> Create New User'.html_safe,new_user_practice_index_path, class:"btn btn-primary float-right" %>
            <% end %>
         </div>
      </div>
   </div>
   <div class="container-fluid border bg-white py-4">
      <table class="table table-bordered table-hover">
         <thead>
            <tr>
               <th>Name</th>
               <th>Email</th>
               <th>Default Location</th>
               <th>Role</th>
               <th>Actions</th>
            </tr>
         </thead>
         <tbody>
            <% @users.each do |user| %>
               <% unless current_user == user %>
                  <tr>
                     <td><a href="/practice/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a></td>
                     <td><%= user.email %></td>
                     <td><%= user.default_location %></td>
                     <td><%= user.role %></td>
                     <td>
                        <%= link_to '<i class="far fa-eye"></i>'.html_safe, practice_path(user), class:'btn btn-outline-primary btn-sm' %>
                        <% if admin_role? %>
                           <%= link_to '<i class="fas fa-edit"></i> '.html_safe, edit_practice_path(user), class:'btn btn-outline-primary btn-sm' %>
                           <%= link_to '<i class="fas fa-trash"></i>'.html_safe, practice_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-primary btn-sm' %>
                        <% end %>
                     </td>
                  </tr>
               <% end %>
            <% end %>
         </tbody>
      </table>

   </div>
</div>
