<%= render "shared/navbar_signed_in"%>

<div class="container-fluid py-4">

   <div class="container-fluid py-2 ">
      <div class="row">
         <div class="col-md-12">
            <h3>Staff: <small><%= @user.first_name %> <%= @user.last_name %></small></h3>
         </div>
      </div>

   </div>

   <br>

   <div class="container-fluid bg-white border py-4">

      <div class="row">

         <div class="col-md-6 border-right">

            <div class="row">
               <div class="col-md-6">
                  <h4>User Information:</h4>
               </div>

               <div class="col-md-6">
                  <div class="dropdown">
                     <button type="button" class="btn btn-outline-primary float-right" data-toggle="dropdown"><i class="fas fa-bars"></i></button>
                     <div class="dropdown-menu">
                        <%= link_to 'Edit', edit_users_admin_path(@user), class:"dropdown-item" %>
                     </div>
                  </div>

               </div>
            </div>

            <hr>

            <div class="row">
               <div class="col-sm-6">
                  <p><strong>Name:</strong></p>
               </div>
               <div class="col-sm-6">
                  <p><%= @user.first_name %> <%= @user.last_name %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-6">
                  <p><strong>Email:</strong></p>
               </div>
               <div class="col-sm-6">
                  <p><%= @user.email %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-6">
                  <p><strong>Languages:</strong></p>
               </div>
               <div class="col-sm-6">
                  <p><%= @user.languages %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-6">
                  <p><strong>Default Location:</strong></p>
               </div>
               <div class="col-sm-6">
                  <p><%= @user.default_location %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-6">
                  <p><strong>Role:</strong></p>
               </div>
               <div class="col-sm-6">
                  <p><%= @user.role %></p>
               </div>
            </div>

         </div>

         <div class="col-md-6">

            <div class="row">
               <div class="col-md-6">
                  <h5>Contact Information:</h5>
               </div>
               <div class="col-md-6">
                  <div class="dropdown">
                     <button type="button" class="btn btn-outline-primary float-right" data-toggle="dropdown"><i class="fas fa-bars"></i></button>
                     <% if @contact_information %>
                        <div class="dropdown-menu">
                           <%= link_to 'Edit', edit_user_contact_information_path(@contact_information), class:"dropdown-item" %>
                           <%= link_to 'Delete', @contact_information, method: :delete, data: { confirm: 'Are you sure?' }, class:"dropdown-item" %>
                        </div>
                     <% else %>
                        <div class="dropdown-menu">
                           <%= link_to 'New Contact Information', new_user_contact_information_path, class:"dropdown-item"%>
                        </div>
                     <% end %>
                  </div>
               </div>
            </div>

            <hr>

            <% if @contact_information %>

               <div class="row">
                  <div class="col-sm-6">
                     <p><strong>Mobile Phone:</strong></p>
                  </div>
                  <div class="col-sm-6">
                     <p><%= @contact_information.mobile_phone %></p>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-6">
                     <p><strong>Home Phone:</strong></p>
                  </div>
                  <div class="col-sm-6">
                     <p><%= @contact_information.home_phone %></p>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-6">
                     <p><strong>Work Phone:</strong></p>
                  </div>
                  <div class="col-sm-6">
                     <p><%= @contact_information.work_phone %></p>
                  </div>
               </div>


               <div class="row">
                  <div class="col-sm-6">
                     <p><strong>Address:</strong></p>
                  </div>
                  <div class="col-sm-6">
                     <p class="mb-0"><%= @contact_information.address_1 %></p>
                     <p class="mb-0"><%= @contact_information.address_2%></p>
                     <p class="mb-0"><%= @contact_information.city %> <%= @contact_information.state %>, <%= @contact_information.zipcode %></p>

                  </div>
               </div>

            <% end %>

         </div>
      </div>
   </div>


</div>
