<%= render "shared/navbar_signed_in"%>

<div class="container-fluid py-4">
   <div class="container-fluid mb-2">
      <div class="row">
         <div class="col-md-6">
            <h3>Staff</h3>
         </div>
         <div class="col-md-6">
            <a href="/users_admin/add-user" class="btn btn-primary float-right">Create New User</a>
         </div>
      </div>
   </div>
   <div class="container-fluid border bg-white py-4">
      <table class="table table-bordered table-hover">
         <thead>
            <tr>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Email</th>
               <th>Default Location</th>
               <th>Role</th>
            </tr>
         </thead>
         <tbody>
            <% @users.each do |user| %>
               <% unless current_user == user %>
                  <tr>
                     <td><%= user.first_name %></td>
                     <td><%= user.last_name %></td>
                     <td><%= user.email %></td>
                     <td><%= user.default_location %></td>
                     <td><%= user.role %></td>
                     <td><%= link_to 'Show', users_admin_path(user) %></td>
                     <td><%= link_to 'Edit', edit_users_admin_path(user) %></td>
                     <td><%= link_to 'Delete', users_admin_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
               <% end %>
            <% end %>
         </tbody>
      </table>

   </div>
</div>
