<%= form_with(model: user_contact_information, local: true) do |form| %>


   <div class="form-group">
      <%= form.label :address_1 %>
      <%= form.text_field :address_1, class:"form-control" %>
   </div>

   <div class="form-group">
      <%= form.label :address_2 %>
      <%= form.text_field :address_2, class:"form-control" %>
   </div>


   <div class="form-row">
      <div class="form-group col-md-6">
         <%= form.label :city %>
         <%= form.text_field :city, class:"form-control" %>
      </div>
      <div class="form-group col-md-4">
         <%= form.label :state %>
         <%= form.text_field :state, class:"form-control"  %>
      </div>
      <div class="form-group col-md-2">
         <%= form.label :zipcode %>
         <%= form.text_field :zipcode, class:"form-control"  %>
      </div>
   </div>

   <div class="form-row">
      <div class="form-group col-md-6">
         <%= form.label :mobile_phone %>
         <%= form.text_field :mobile_phone, class:"form-control" %>
      </div>
      <div class="form-group col-md-6">
         <%= form.label :home_phone %>
         <%= form.text_field :home_phone, class:"form-control" %>
      </div>
      <div class="form-group col-md-6">
         <%= form.label :work_phone %>
         <%= form.text_field :work_phone, class:"form-control" %>
      </div>
   </div>

   <%= form.hidden_field :user_id, :value => current_user.id %>

   <div class="row">
      <div class="col-md-8 mx-auto">
         <%= form.submit class:"btn btn-info btn-block text-uppercase" %>
      </div>
   </div>

<% end %>
