<p id="notice"><%= notice %></p>

<h1>User Contact Informations</h1>

<table>
  <thead>
    <tr>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>Zipcode</th>
      <th>City</th>
      <th>State</th>
      <th>Mobile phone</th>
      <th>Home phone</th>
      <th>Work phone</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_contact_informations.each do |user_contact_information| %>
      <tr>
        <td><%= user_contact_information.address_1 %></td>
        <td><%= user_contact_information.address_2 %></td>
        <td><%= user_contact_information.zipcode %></td>
        <td><%= user_contact_information.city %></td>
        <td><%= user_contact_information.state %></td>
        <td><%= user_contact_information.mobile_phone %></td>
        <td><%= user_contact_information.home_phone %></td>
        <td><%= user_contact_information.work_phone %></td>
        <td><%= user_contact_information.user %></td>
        <td><%= link_to 'Show', user_contact_information %></td>
        <td><%= link_to 'Edit', edit_user_contact_information_path(user_contact_information) %></td>
        <td><%= link_to 'Destroy', user_contact_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Contact Information', new_user_contact_information_path %>
