<%= render "shared/navbar_signed_in"%>

<div class="container-fluid py-4">
   <div class="container-fluid mb-2">
      <div class="row">
         <div class="col-md-6">
            <h3>Library</h3>
         </div>
         <div class="col-md-6">
            <a href="/" class="btn btn-primary float-right">Upload File</a>
         </div>
      </div>
   </div>
   <div class="container-fluid border bg-white py-4">
      <h6>Use the Library to store and share documents within your practice, such as blank forms, agreements, and handouts. If the client portal is enabled, you can send documents to patients to be reviewed, completed, and/or electronically signed.</h6>
      <br>
      <table class="table table-bordered table-hover">
         <thead>
            <tr>
               <th>Document Name</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Pysical Examinaiton</td>
            </tr>
         </tbody>
      </table>

   </div>
</div>



<h1>Libraries</h1>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.document %></td>
        <td><%= link_to 'Show', library %></td>
        <td><%= link_to 'Edit', edit_library_path(library) %></td>
        <td><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Library', new_library_path %>
