<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @library.name %>
  <%= @library.library_document[0] %>
  <a href="<%= (@library.library_document[0]).to_s %>" target='_blank'>File</a>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
