<%= form_for([@patient_contact_information.patient, @patient_contact_information]) do |f| %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :mobile_phone %>
    <%= f.text_field :mobile_phone %>
  </div>

  <div class="field">
    <%= f.label :home_phone %>
    <%= f.text_field :home_phone %>
  </div>

  <div class="field">
    <%= f.label :work_phone %>
    <%= f.text_field :work_phone %>
  </div>

  <div class="field">
    <%= f.label :other_phone %>
    <%= f.text_field :other_phone %>
  </div>

  <div class="field">
    <%= f.label :address_1 %>
    <%= f.text_field :address_1 %>
  </div>

  <div class="field">
    <%= f.label :address_2 %>
    <%= f.text_field :address_2 %>
  </div>

  <div class="field">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
