<div class="container-fluid py-2">
   <div class="container-fluid bg-white border py-4">
      <div class="row">
         <div class="col-md-6">
            <h4>Files for this Patient:</h4>
         </div>
         <div class="col-md-6">
            <a href="/patients/<%= @patient.id %>/documents/new" class="btn btn-outline-primary float-right">Upload Patient Files</a>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col-md-12">
            <table class="table table-bordered table-hover">
               <thead>
                  <tr>
                     <th>Document Name</th>
                     <th>Date</th>
                     <th>Author</th>
                  </tr>
               </thead>
               <tbody>
                  <% @documents.each do |document| %>
                     <tr>
                        <td><%= document.name %></td>
                        <td><%= document.created_at.strftime('%D') %></td>
                        <td><%= document.user.first_name %> <%= document.user.last_name %></td>
                        <td><a href="<%= (document.file[0]).to_s %>" target='_blank'>Show</a></td>
                        <td><%= link_to 'Edit', edit_patient_document_path(document.patient, document) %></td>
                        <td><%= link_to 'Delete', [document.patient, document], method: :delete, data: { confirm: 'Are you sure?' } %></td>
                     </tr>
                  <% end %>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
