<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @document.user %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @document.patient %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>File:</strong>
  <%= @document.file %>
</p>
