<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @document.patient %>
</p>

<p>
  <strong>File:</strong>
  <%= @document.file %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
