<%= form_with(model: patient, local: true) do |form| %>

   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <h5>Patient Comments</h5>
            <div class="form-group">
               <%= form.text_area :comment, class:'form-control', placeholder:'For nonclinical information.' %>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-12">
            <h5>Patient Information</h5>
         </div>
      </div>

      <div class="row">
         <div class="col-md-6">

            <div class="form-group">
               <%= form.label 'Name:' %>
               <%= form.text_field :first_name, class:'form-control-inline' %>  <%= form.text_field :last_name, class:'form-control-inline' %>
            </div>

            <div class="form-group">
              <%= form.label :preferred_name %>
              <%= form.text_field :preferred_name, class:'form-control-inline'  %>
            </div>

            <div class="form-group">
              <%= form.label :dob %>
              <%= form.date_select :dob, class:'form-control-inline'  %>
            </div>
            <div class="field">
             <%= form.label :email %>
             <%= form.text_field :email %>
           </div>

           <div class="field">
             <%= form.label :mobile_phone %>
             <%= form.text_field :mobile_phone %>
           </div>

           <div class="field">
             <%= form.label :home_phone %>
             <%= form.text_field :home_phone %>
           </div>

           <div class="field">
             <%= form.label :work_phone %>
             <%= form.text_field :work_phone %>
           </div>

           <div class="field">
             <%= form.label :other_phone %>
             <%= form.text_field :other_phone %>
           </div>

           <div class="field">
             <%= form.label :address_1 %>
             <%= form.text_field :address_1 %>
           </div>

           <div class="field">
             <%= form.label :address_2 %>
             <%= form.text_field :address_2 %>
           </div>

           <div class="field">
             <%= form.label :zipcode %>
             <%= form.text_field :zipcode %>
           </div>

           <div class="field">
             <%= form.label :city %>
             <%= form.text_field :city %>
           </div>

           <div class="field">
             <%= form.label :state %>
             <%= form.text_field :state %>
           </div>
         </div>

         <div class="col-md-6">

            <div class="form-group">
               <%= form.label :birth_sex %>
               <%= form.select :birth_sex,['male', 'female', 'other'],{ include_blank: true }, class:'form-control-inline'  %>
            </div>

            <div class="field">
              <%= form.label :gender_identity %>
              <%= form.text_field :gender_identity, class:'form-control-inline' %>
            </div>

            <div class="field">
              <%= form.label :sexual_orientation %>
              <%= form.text_field :sexual_orientation, class:'form-control-inline'%>
            </div>

            <div class="field">
              <%= form.label :race %>
              <%= form.text_field :race, class:'form-control-inline' %>
            </div>

            <div class="field">
              <%= form.label :languages %>
              <%= form.text_field :languages, class:'form-control-inline' %>
            </div>

            <div class="field">
              <%= form.label :marital_status %>
              <%= form.text_field :marital_status, class:'form-control-inline' %>
            </div>

            <div class="field">
              <%= form.label :employment %>
              <%= form.text_field :employment, class:'form-control-inline' %>
            </div>

            <div class="field">
              <%= form.label :hipaa %>
              <%= form.check_box :hipaa, class:'form-control-inline' %>
            </div>

            <div class="field">
              <%= form.label :pcp_release %>
              <%= form.text_field :pcp_release, class:'form-control-inline'%>
            </div>
         </div>

      </div>

      <div class="row">
         <div class="col-md-12">
            <div class="field">
               <%= form.label('Clinician') %>
               <%= form.select('user_id', @users.collect{|p| [p.first_name, p.id]}, { include_blank: true }) %>
            </div>

            <div class="actions">
               <%= form.submit %>
            </div>
         </div>
      </div>

   </div>

<% end %>
