<%= form_with(model: patient, local: true, html: {autocomplete:'off'}) do |form| %>


   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <h5>Patient Comments</h5>
            <div class="form-group">
               <%= form.text_area :comment, class:'form-control', placeholder:'For non-clinical information.' %>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-12">
            <h5>Patient Information</h5>
         </div>
      </div>

      <div class="row">
         <div class="col-md-6">

            <div class="form-group row mb-1">
               <%= form.label 'Name:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-4">
                  <%= form.text_field :first_name, class:"form-control form-control-sm", autocomplete:'new-first-name', placeholder:'First' %>
               </div>
               <div class="col-sm-4">
                  <%= form.text_field :last_name, class:"form-control form-control-sm", placeholder:'Last', autocomplete:'new-last-name' %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Preferred Name:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.text_field :preferred_name, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Date of Birth:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.date_field :dob, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Email Address:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.text_field :email, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Mobile Phone:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.text_field :mobile_phone, class:"form-control form-control-sm", autocomplete:'off' %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Home Phone:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.text_field :home_phone, class:"form-control form-control-sm", autocomplete:'off' %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Work Phone:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.text_field :work_phone, class:"form-control form-control-sm", autocomplete:'off' %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Other Phone:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.text_field :other_phone, class:"form-control form-control-sm", autocomplete:'off' %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Address 1:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.text_field :address_1, class:"form-control form-control-sm", autocomplete:'new-street-address' %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Address 2:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.text_field :address_2, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'City/State', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-6">
                  <%= form.text_field :city, class:"form-control form-control-sm" %>
               </div>
               <div class="col-sm-2">
                  <%= form.select :state,['TX', 'CO', 'FL', 'CA'], { include_blank: true }, class:'form-control form-control-sm'%>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Zipcode:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-6">
                  <%= form.text_field :zipcode, class:"form-control form-control-sm" %>
               </div>
            </div>

         </div>

         <div class="col-md-6">

            <div class="form-group row mb-1">
               <%= form.label 'Birth Sex:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.select :birth_sex,['Male', 'Female', 'Unknown'],{ include_blank: true }, class:'form-control form-control-sm'  %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Gender Identity:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.select :gender_identity,['Male', 'Female','Transgender Male/Trans Man/FTM','Transgender Female/Trans Woman/MTF','Genderqueer, neither exclusively male nor female','Additional gender category or other','Choose not to disclose'],{ prompt: 'Select Gender Identity' }, class:'form-control form-control-sm' %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Sexual Orientation:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.select :sexual_orientation,['Straight or Heterosexual', 'Lesbian Gay or Homosexual', 'Bisexual','Other','Unknown','Choose not to disclose'],{ prompt: 'Select Sexual Orientation' }, class:'form-control form-control-sm'  %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Race:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.select :race,['American Indian or Alaska Native','Asian','Black or African American','Hispanic or Latino','Native Hawaiian or Other Pacific Islander','White','Choose not to disclose'],{ prompt: 'Select Race' }, class:'form-control form-control-sm'  %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Languages:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.text_field :languages, class:"form-control form-control-sm" %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Marital Status:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.select :marital_status,['Married', 'Single', 'Other'],{ include_blank: true }, class:'form-control form-control-sm'  %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'Employment:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.select :employment,['Employed', 'Full-Time Student', 'Part-Time Student', 'Unemployed/Other'],{ prompt: 'Select Employment' }, class:'form-control form-control-sm'  %>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'HIPAA:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <div class="form-check">
                     <%= form.check_box :hipaa, class:"form-check-input" %>
                     <%= form.label 'Patient/guardian signed HIPAA NPP', class:'form-check-label'%>
                  </div>
               </div>
            </div>

            <div class="form-group row mb-1">
               <%= form.label 'PCP Release:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.select :pcp_release,['Patient consented to release information', 'Patient declined to release information', 'Not applicable'],{ prompt: 'Not set' }, class:'form-control form-control-sm'  %>
               </div>
            </div>
         </div>
      </div>

      <hr>

      <div class="row">
         <div class="col-md-6">

            <div class="form-group row mb-1">
               <%= form.label 'Clinician:', class:"col-sm-4 col-form-label col-form-label-sm font-weight-bold"  %>
               <div class="col-sm-8">
                  <%= form.select :user_id, @users.collect{|p| [p.first_name, p.id]}, { include_blank: true }, class:'form-control form-control-sm' %>
               </div>
            </div>

            <br>

            <div class="actions">
               <%= form.submit class:'btn btn-primary' %>
            </div>
         </div>
      </div>

   </div>

<% end %>
