<div class="container-fluid py-4">
   <div class="container-fluid mb-2">
      <div class="row">
         <div class="col-md-12">
            <h3>Assigned Clinicians:</h3>
         </div>
      </div>
   </div>
   <div class="container-fluid border bg-white py-4">
      <table class="table table-bordered table-hover">
         <thead>
            <tr>
               <th>Name</th>
               <th>Email</th>
               <th>Default Location</th>
               <th>Role</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td><a href="/practice/<%= @clinician.id %>"><%= @clinician.first_name %> <%= @clinician.last_name %></a></td>
               <td><%= @clinician.email %></td>
               <td><%= @clinician.default_location %></td>
               <td><%= @clinician.role %></td>
            </tr>
         </tbody>
      </table>

   </div>
</div>
