<div class="container-fluid py-2">
   <div class="container-fluid bg-white border py-4">
      <div class="row">
         <div class="col-md-6">
            <h4>Notes for this Patient :</h4>
         </div>
         <div class="col-md-6">
            <div class="dropdown">
               <button type="button" class="btn btn-primary dropdown-toggle float-right" data-toggle="dropdown">Create Note</button>
               <div class="dropdown-menu">
                  <%= link_to 'Intake Note', new_patient_intake_note_path(@patient), class:"dropdown-item" %>
                  <%= link_to 'Treatment Plan', new_patient_treatment_plan_path(@patient), class:"dropdown-item" %>
                  <%= link_to 'Progress Note', new_patient_progress_note_path(@patient), class:"dropdown-item" %>
                  <%= link_to 'Termination Note', new_patient_termination_note_path(@patient), class:"dropdown-item" %>
               </div>
            </div>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col-md-12">
            <table class="table table-bordered table-hover">
               <thead>
                  <tr>
                     <th>Type</th>
                     <th>Date</th>
                     <th>Author</th>
                  </tr>
               </thead>
               <tbody>
                  <% @intake_notes.each do |i| %>
                     <tr>
                        <td>Intake Note</td>
                        <td><%= i.date %></td>
                        <td><%= i.user.first_name %> <%= i.user.last_name %></td>
                        <td><%= link_to 'Show', patient_intake_note_path(i.patient, i) %></td>
                        <td><%= link_to 'Edit', edit_patient_intake_note_path(i.patient, i) %></td>
                        <td><%= link_to 'Destroy', [i.patient, i], method: :delete, data: { confirm: 'Are you sure?' } %></td>
                     </tr>
                  <% end %>

                  <% @progress_notes.each do |p| %>
                     <tr>
                        <td>Progress Note</td>
                        <td><%= p.date %></td>
                        <td><%= p.user.first_name %> <%= p.user.last_name %></td>
                     </tr>
                  <% end %>

                  <% @treatment_plans.each do |t| %>
                     <tr>
                        <td>Treatment Plan</td>
                        <td><%= t.date %></td>
                        <td><%= t.user.first_name %> <%= t.user.last_name %></td>
                     </tr>
                  <% end %>

                  <%  @termination_notes.each do |tn| %>
                     <tr>
                        <td>Termination Note</td>
                        <td><%= tn.date %></td>
                        <td><%= tn.user.first_name %> <%= tn.user.last_name %></td>
                     </tr>
                  <% end %>

               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
