<div class="container-fluid py-2">
   <div class="container-fluid bg-white border py-4">
      <div class="row">
         <div class="col-md-6">
            <h4>Patient Comments:</h4>
         </div>
         <div class="col-md-6">
            <a href="/" class="btn btn-outline-secondary float-right">Edit</a>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col-md-12">
            <p> <%= @patient.comment %> </p>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid py-4">
   <div class="container-fluid mb-2 bg-white border py-4">
      <div class="row">
         <div class="col-md-6">
            <h4>Patient Information</h4>
         </div>
         <div class="col-md-6">
            <a href="/" class="btn btn-outline-secondary float-right">Edit</a>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <table>
               <body>
                  <tr>
                     <td>Name:</td>
                     <td><%= @patient.first_name %> <%= @patient.last_name %></td>
                  </tr>
                  <tr>
                     <td>Preferred Name:</td>
                     <td><%= @patient.preferred_name %></td>
                  </tr>
                  <tr>
                     <td>Date of Birth:</td>
                     <td><%= @patient.dob %></td>
                  </tr>
                  <tr>
                     <td>Email Address:</td>
                     <td><%= @patient%></td>
                  </tr>
                  <tr>
                     <td>Mobile Phone:</td>
                     <td><%= @patient %></td>
                  </tr>
                  <tr>
                     <td>Home Phone:</td>
                     <td><%= @patient%></td>
                  </tr>
                  <tr>
                     <td>Work Phone:</td>
                     <td><%= @patient%></td>
                  </tr>
                  <tr>
                     <td>Address:</td>
                     <td><%= @patient%></td>
                  </tr>
               </body>
            </table>
         </div>
         <div class="col-md-6">
            <table>
               <body>
                  <tr>
                     <td>Birth Sex:</td>
                     <td><%= @patient.birth_sex %></td>
                  </tr>
                  <tr>
                     <td>Gender Identity:</td>
                     <td><%= @patient.gender_identity %></td>
                  </tr>
                  <tr>
                     <td>Sexual Orientation:</td>
                     <td><%= @patient.sexual_orientation %></td>
                  </tr>
                  <tr>
                     <td>Race:</td>
                     <td><%= @patient.race %></td>
                  </tr>
                  <tr>
                     <td>Languages:</td>
                     <td><%= @patient.languages %></td>
                  </tr>
                  <tr>
                     <td>Marital Status:</td>
                     <td><%= @patient.marital_status %></td>
                  </tr>
                  <tr>
                     <td>Employment:</td>
                     <td><%= @patient.employment %></td>
                  </tr>
                  <tr>
                     <td>HIPAA</td>
                     <td><%= @patient.hipaa %></td>
                  </tr>
                  <tr>
                     <td>PCP Release:</td>
                     <td><%= @patient.pcp_release %></td>
                  </tr>
               </body>
            </table>
         </div>
      </div>
   </div>

</div>

<div class="container-fluid py-4">
   <div class="container-fluid mb-2 bg-white border py-4">
      <div class="row">
         <div class="col-md-6">
            <h4>Emergency Contact:</h4>
         </div>
         <div class="col-md-6">
            <a href="/" class="btn btn-outline-secondary float-right">Edit</a>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <table>
               <body>
                  <tr>
                     <td>Name:</td>
                     <td><%= @patient.first_name %> <%= @patient.last_name %></td>
                  </tr>
                  <tr>
                     <td>Contact Type:</td>
                     <td><%=%></td>
                  </tr>
                  <tr>
                     <td>Relationship:</td>
                     <td><%=%></td>
                  </tr>
                  <tr>
                     <td>Release of Info:</td>
                     <td><%=%></td>
                  </tr>
                  <tr>
                     <td>Date of Birth:</td>
                     <td><%=%></td>
                  </tr>
                  <tr>
                     <td>Address:</td>
                     <td><%=%></td>
                  </tr>
               </body>
            </table>
         </div>
         <div class="col-md-6">
            <table>
               <body>
                  <tr>
                     <td>Email:</td>
                     <td><%=%></td>
                  </tr>
                  <tr>
                     <td>Mobile Phone:</td>
                     <td><%=%></td>
                  </tr>
                  <tr>
                     <td>Home Phone:</td>
                     <td><%=%></td>
                  </tr>
                  <tr>
                     <td>Work Phone:</td>
                     <td><%=%></td>
                  </tr>
                  <tr>
                     <td>Other Phone:</td>
                     <td><%=%></td>
                  </tr>
                  <tr>
                     <td>Comments:</td>
                     <td><%=%></td>
                  </tr>
               </body>
            </table>
         </div>
      </div>
   </div>

</div>
