<div class="container-fluid py-2">
   <div class="container-fluid bg-white border py-4">
      <div class="row">
         <div class="col-md-6">
            <h4>Patient Comments:</h4>
         </div>
         <div class="col-md-6">
            <% if admin_role? %>
               <%= link_to '<i class="fas fa-edit"></i> Edit'.html_safe, edit_patient_path(@patient), class:"btn btn-outline-primary float-right" %>
            <% end %>
         </div>
      </div>
      <br>
      <div class="row px-2">
         <div class="col-md-12 border py-2">
            <p> <%= @patient.comment %> </p>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid py-4">
   <div class="container-fluid mb-2 bg-white border py-4">
      <div class="row">
         <div class="col-md-6">
            <h4>Patient Information</h4>
         </div>
         <div class="col-md-6">
            <% if admin_role? %>
               <%= link_to '<i class="fas fa-edit"></i> Edit'.html_safe, edit_patient_path(@patient), class:"btn btn-outline-primary float-right" %>
            <% end %>
         </div>
      </div>

      <hr>

      <div class="row">
         <div class="col-md-6 border-right">

            <div class="row">
               <div class="col-sm-4">
                  <p>Name:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.first_name %> <%= @patient.last_name %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p>Preferred Name:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.preferred_name %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p>Date of Birth:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.dob.strftime('%D') %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p>Email Address:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.email %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p>Mobile Phone:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.mobile_phone %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p>Home Phone:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.home_phone %></p>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-4">
                  <p>Work Phone:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.work_phone %></p>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-4">
                  <p>Adress:</p>
               </div>
               <div class="col-sm-8">
                  <p class="mb-0"><%= @patient.address_1 %></p>
                  <p class="mb-0"><%= @patient.address_2 %></p>
                  <p class="mb-0"><%= @patient.city %> <%= @patient.state %>, <%= @patient.zipcode %></p>
               </div>
            </div>




         </div>

         <div class="col-md-6">

            <div class="row">
               <div class="col-sm-4">
                  <p>Birth Sex:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.birth_sex %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p>Gender Identity:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.gender_identity %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p>Sexual Oritentaion:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.sexual_orientation %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p>Race:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.race %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p>Languages:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.languages %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p>Marital Status:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.marital_status %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p>Employment:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.employment %></p>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p>HIPPA:</p>
               </div>
               <div class="col-sm-8">
                  <% if @patient.hipaa == true %>
                     <p>Patient/guardian signed HIPAA NPP</p>
                  <% else %>
                     <p>Patient/guardian has not signed HIPAA NPP</p>
                  <% end %>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-4">
                  <p>PCP Release:</p>
               </div>
               <div class="col-sm-8">
                  <p><%= @patient.pcp_release %></p>
               </div>
            </div>

         </div>

      </div>
   </div>

</div>

<div class="container-fluid py-4">
   <div class="container-fluid mb-2 bg-white border py-4">
      <div class="row">
         <div class="col-md-6">
            <h4>Emergency Contacts:</h4>
         </div>
         <div class="col-md-6">
            <% if admin_role? %>
               <%= link_to '<i class="far fa-plus-square"></i> Create Contact'.html_safe, new_patient_patient_emergency_contact_path(@patient), class:"btn btn-outline-primary float-right" %>
            <% end %>
         </div>
      </div>

      <hr>

      <% @emergency_contacts.each do |ec| %>

         <div class="row mb-2">
            <div class="col-md-12">
               <div class="dropdown">
                  <% if admin_role? %>
                     <button type="button" class="btn btn-outline-primary float-right" data-toggle="dropdown"><i class="fas fa-bars"></i></button>
                     <div class="dropdown-menu">
                        <%= link_to 'Edit', edit_patient_patient_emergency_contact_path(ec.patient, ec), class:"dropdown-item"%>
                        <%= link_to 'Delete', [ec.patient, ec], :confirm => 'Are you sure?', :method => :delete, class:"dropdown-item" %>
                     </div>
                  <% end %>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col-md-6 border-right">

               <div class="row">
                  <div class="col-sm-4">
                     <p>Name:</p>
                  </div>
                  <div class="col-sm-8">
                     <p><%= ec.first_name %> <%= ec.last_name %></p>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-4">
                     <p>Contact Type:</p>
                  </div>
                  <div class="col-sm-8">
                     <p><%= ec.contact_type %></p>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-4">
                     <p>Relationship:</p>
                  </div>
                  <div class="col-sm-8">
                     <p><%= ec.relationship %></p>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-4">
                     <p>Release of Information:</p>
                  </div>
                  <div class="col-sm-8">
                     <% if ec.release_of_info %>
                        <p><%= ec.release_of_info.strftime('%D') %></p>
                     <% end  %>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-4">
                     <p>Date of Birth:</p>
                  </div>
                  <div class="col-sm-8">
                     <% if ec.dob %>
                        <p><%= ec.dob.strftime('%D') %></p>
                     <% end  %>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-4">
                     <p>Address:</p>
                  </div>
                  <div class="col-sm-8">
                     <p><%= ec.address_1 %></p>
                     <p><%= ec.address_2 %></p>
                     <p><%= ec.city %> <%= ec.state %> <%= ec.zipcode %></p>
                  </div>
               </div>

            </div>
            <div class="col-md-6">

               <div class="row">
                  <div class="col-sm-4">
                     <p>Email:</p>
                  </div>
                  <div class="col-sm-8">
                     <p><%= ec.email %></p>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-4">
                     <p>Mobile Phone:</p>
                  </div>
                  <div class="col-sm-8">
                     <p><%= ec.mobile_phone %></p>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-4">
                     <p>Home Phone:</p>
                  </div>
                  <div class="col-sm-8">
                     <p><%= ec.home_phone %></p>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-4">
                     <p>Work Phone:</p>
                  </div>
                  <div class="col-sm-8">
                     <p><%= ec.work_phone %></p>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-4">
                     <p>Other Phone:</p>
                  </div>
                  <div class="col-sm-8">
                     <p><%= ec.other_phone %></p>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-4">
                     <p>Comments:</p>
                  </div>
                  <div class="col-sm-8">
                     <p><%= ec.comment %></p>
                  </div>
               </div>

            </div>
         </div>
         <hr>
      <% end %>
   </div>

</div>
