<%= form_for([@intake_note.patient, @intake_note]) do |f| %>

   <div class="row">
      <div class="col-md-6">

         <div class="form-group row mb-0">
            <%= f.label 'Clinician:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select 'user_id', @users.collect{|p| [p.first_name, p.id]}, { include_blank: true }, class:'form-control form-control-sm' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Patient:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <input type="text" name="" value="<%= @intake_note.patient.first_name%> <%= @intake_note.patient.last_name %>" class="form-control form-control-sm">
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Date:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.date_field :date, class:"form-control form-control-sm" %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Time:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.time_field :time, class:"form-control form-control-sm"%>
            </div>
         </div>

      </div>

      <div class="col-md-6">

         <div class="form-group row mb-0">
            <%= f.label 'Duration:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <div class="input-group input-group-sm">
                  <%= f.select :duration,['30', '35', '40', '45', '50', '55', '60'],{ include_blank: true }, class:'form-control form-control-sm'  %>
                  <div class="input-group-append">
                     <span class="input-group-text">minutes</span>
                  </div>
               </div>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Location:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :location, @location.collect{|l| [l, l]}, { include_blank: true }, class:'form-control form-control-sm' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Participants:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :participants, @participants.collect{|l| [l, l]}, { include_blank: true }, class:'form-control form-control-sm' %>
            </div>
         </div>

      </div>
   </div>

   <hr>

   <div class="row">
      <div class="col-md-12">
         <h5>Presenting Problem</h5>
         <div class="form-group">
            <%= f.text_area :presenting_problems, class:'form-control form-control-sm' %>
         </div>
      </div>
   </div>

   <hr>

   <h5>Current Mental Status</h5>
   <button type="button" name="button" class="IN-not-assessed btn btn-primary">All Not Assessed</button>
   <select class="" name="">
      <option value=""></option>
   </select>

   <div class="row">
      <div class="col-md-6">

         <div class="mental-status form-group row mb-0">
            <%= f.label 'Genral Apprearance:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :general_appearance,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm current-mental-status'  %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Dress:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :dress,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Motor Activity:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :motor_activity,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Insight:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :insight,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Judgement:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :judgement,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Affect:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :affect,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Mood:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :mood,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Orientation:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :orientation,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

      </div>

      <div class="col-md-6">

         <div class="form-group row mb-0">
            <%= f.label 'Memory:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :memory,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Attention/Concentration:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :attention_concentration,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Thought Content:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :thought_content,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Perception:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :perception,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Flow of Thought:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :flow_of_thought,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Interview Behavior:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :interview_behavior,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Speech:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.select :speech,['Not Assessed'],{ include_blank: true }, class:'form-control form-control-sm'  %>
            </div>
         </div>

      </div>
   </div>

   <hr>

   <h5>Safety Issues</h5>

   <div class="row">
      <div class="col-md-6">
         <div class="form-group row mb-0">
            <%= f.label 'Safety Issues:', class:"col-sm-4 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-8">
               <%= f.text_field :safety_issues, class:"form-control form-control-sm", list:'safety_issues', autocomplete: 'off' %>
               <datalist id="safety_issues">
                  <option value="None">
                  <option value="Suicidal Ideation">
                  <option value="Hommicidal Ideation">
                  <option value="Other:">
               </datalist>
            </div>
         </div>
      </div>
   </div>

   <hr>

   <h5>Background Information</h5>
   <br>
   <div class="row">
      <div class="col-md-12">

         <div class="form-group row background-information mb-0">
            <%= f.label 'Identification:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :identification, class:'form-control form-control-sm note-textarea', rows:'1', placeholder:'age, ethnicity, religion, marital status, referral status, etc.' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'History of Present Problem:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :history_present_problem, class:'form-control form-control-sm note-textarea', rows:'1', placeholder:'symptoms, onset, duration, frequency, etc.' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Past Psychiatric History:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :past_psychiatric_history, class:'form-control form-control-sm note-textarea', rows:'1', placeholder:'prior treatment, symptoms, diagnoses, hospitalization, suicide attempts, violent history, etc.' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Trauma History:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :trauma_history, class:'form-control form-control-sm note-textarea', rows:'1', placeholder:'nature of trauma, when ocurred, persons involved, etc.' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Family Psychiatric History:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :family_psychiatric_history, class:'form-control form-control-sm note-textarea', rows:'1', placeholder:'history of mental illness in family, diagnosis, etc.' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Medical History:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :medical_history, class:'form-control form-control-sm', rows:'1', placeholder:'current and past medical conditions, treatments, allergies, etc.' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Current Medications:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :current_medications, class:'form-control form-control-sm note-textarea', rows:'1', placeholder:'medication, dosage, purpose, prescribing physician' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Substance Use:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :substance_use, class:'form-control form-control-sm note-textarea', rows:'1', placeholder:'substance, start date, last use, amount, frequency, etc.' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Family History:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :family_history, class:'form-control form-control-sm', rows:'1', placeholder:'family of origin, relationship with parents, siblings, significant other(s)' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Social History:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :social_history, class:'form-control form-control-sm note-textarea', rows:'1', placeholder:'significant relationships, social support, nature/quality of relationships, etc.' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Development History:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :development_history, class:'form-control form-control-sm note-textarea', rows:'1', placeholder:'development milestones, delays, etc.' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Educational/Occupatinal History:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :educational_occupational_history, class:'form-control form-control-sm note-textarea', rows:'1', placeholder:'level of education, current/past employment, etc.' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Legal History:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :legal_history, class:'form-control form-control-sm note-textarea', rows:'1', placeholder:'arrest history, sentencing, DUI occurrences, incarceration, litigation' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Strength/Limitations:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :strength_limitations, class:'form-control form-control-sm note-textarea', rows:'1' %>
            </div>
         </div>

         <div class="form-group row mb-0">
            <%= f.label 'Other Information:', class:"col-sm-3 col-form-label col-form-label-md font-weight-bold"  %>
            <div class="col-sm-9">
               <%= f.text_area :other_information, class:'form-control form-control-sm note-textarea', rows:'1' %>
            </div>
         </div>

      </div>
   </div>

   <hr>

   <h5>Diagnosis</h5>
   <div class="row">
      <div class="col-md-12">

         <div class="form-group ">
            <%= f.text_field :diagnosis_description, class:'form-control form-control-sm', placeholder:'Description' %>
         </div>

         <div class="form-group mb-0">
            <%= f.text_area :diagnosis_justification, class:'form-control form-control-sm intake-form note-textarea', rows:'1', placeholder:'Diagnostic justfication and/or assessment measures'  %>
         </div>

      </div>
   </div>

   <hr>

   <div class="row px-3">
      <div class="col-md-12 border bg-light p-2">
         <div class="form-check">
            <%= f.check_box :clinician_signature, class:'form-check-input' %>
            <label class="form-check-label"> Sign this Form:<strong> I, <%= current_user.first_name %> <%= current_user.last_name %>, Clinical Psychologist, declare this information to be accurate and complete.</strong></label>
         </div>
      </div>
   </div>

   <br>

   <div class="actions">
      <% if @intake_note.new_record? %>
         <%= f.submit 'Create', class:'btn btn-outline-primary'%>
      <% else %>
         <%= f.submit 'Update', class:'btn btn-outline-primary'%>
      <% end %>
   </div>


<% end %>
