<!DOCTYPE html>
<html>
   <head>
      <title>ElectronicMedicalRecord</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <link rel="icon" href="/assets/logo1.png">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

   <body>

      <%= render "shared/navbar_signed_in" %>

      <div class="container-fluid pt-4 pb-2">
         <h3>Patient: <small><%= @patient.first_name %> <%= @patient.last_name %></small></h3>
         <br>
         <ul class="nav nav-pills border p-2">
            <li class="nav-item">
               <a class="nav-link" href="/patients/<%= @patient.id %>">Patient Info</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/patients/<%= @patient.id %>/notes">Notes</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/patients/<%= @patient.id %>/documents">Documents</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/patients/<%= @patient.id %>/clinician">Clinicians</a>
            </li>
         </ul>
      </div>

      <%= yield %>


   </body>
</html>
