<!DOCTYPE html>
<html>
   <head>
      <title>ElectronicMedicalRecord</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <link rel="icon" href="/assets/logo1.png">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

   <body>

      <nav class="navbar navbar-expand-md border-bottom navbar-dark">

         <a class="navbar-brand" href="<%= role_url %>">
            Logo
         </a>


         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
         </button>


         <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link" href="<%= role_url %>">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/patients">Patients</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/users_admin/staff">Staff</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/libraries">Library</a>
               </li>
            </ul>
            <ul class="navbar-nav ml-auto">
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                     <i class="fas fa-user"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                     <a href="/profile/<%= current_user.id %>" class="dropdown-item">Profile</a>
                     <hr>
                     <a class="dropdown-item" href="/users/sign_out" data-method="delete">Sign Out</a>
                  </div>
               </li>

            </ul>
         </div>

      </nav>

      <div class="container-fluid pt-4 pb-2">
         <h3>Patient: <small><%= @patient.first_name %> <%= @patient.last_name %></small></h3>
         <br>
         <ul class="nav nav-pills border p-2">
            <li class="nav-item">
               <a class="nav-link" href="/patients/<%= @patient.id %>">Patient Info</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/patients/<%= @patient.id %>/notes">Notes</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/patients/<%= @patient.id %>/documents">Documents</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/patients/<%= @patient.id %>/clinician">Clinicians</a>
            </li>
         </ul>
      </div>

      <%= yield %>


   </body>
</html>
